/* Стили секции "Nasza Oferta" */
#nasza-oferta {
    text-align: center;
    background-color: #fff;
    margin-top: 100px;
}

.oferta-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.oferta-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.oferta-product {
    cursor: pointer;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.oferta-product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.oferta-product img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}

.oferta-product img:hover {
    transform: scale(1.05);
}

.oferta-name {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.oferta-price {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}

.oferta-old-price {
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}

.wiemcej-button {
    position: relative;
    padding: 10px 20px;
    background-color: #b0d9ed;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    margin-top: 10px;
}

.wiemcej-button:hover {
    background-color: #9ac4d6;
}

/* Стили для модального окна */
.oferta-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#oferta-modal {
    display: none;
   
}

.oferta-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-height: 80vh;
    overflow-y: auto;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oferta-modal-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.oferta-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

.button-modal {
    position: relative;
    padding: 10px 20px;
    background-color: #b0d9ed;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
    margin-top: 20px;
}

.button-modal {
    cursor: pointer !important;
}

/* Адаптив для мобильных устройств */
@media (max-width: 768px) {
    .oferta-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .oferta-product {
        padding: 10px;
    }

    .oferta-modal-content {
        width: 80%;
    }
}
