
.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.conteiner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
    background-color: #ffffff;
}

h1 {
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 1.2; 
}

.subtext {
    font-size: 20px; 
    font-weight: 400;
    color: #333;
    line-height: 1.6; 
    margin-bottom: 20px;
}

.features {
    font-size: 16px; 
    font-weight: 500;
    color: #666;
    margin-bottom: 24px;
}

.rent-button {
    font-size: 20px; 
    padding: 14px 36px;
    border: none;
    border-radius: 26px;
    background-color: #b0d9ed;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rent-button:hover {
    background-color: #9ac4d6;
}

/* Адаптив под мобильные устройства */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .subtext {
        font-size: 18px; 
    }

    .features {
        font-size: 14px; 
    }

    .rent-button {
        font-size: 16px; 
    }

    .container {
        padding: 20px; 
    }
}
