.conteiner-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 0;
    background-color: #ffffff;
    margin-top: 100px;
}

.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 48px; 
    font-weight: 700;
    margin-bottom: 24px; /* Увеличен отступ снизу */
    line-height: 1.4; /* Увеличено межстрочное расстояние */
}

.subtext {
    font-size: 20px; 
    font-weight: 400;
    color: #666; /* Более мягкий серый цвет */
    line-height: 1.8; /* Увеличено межстрочное расстояние */
    margin-bottom: 24px; /* Увеличен отступ снизу */
}

.features {
    font-size: 16px; 
    font-weight: 500;
    color: #777; /* Более светлый серый цвет */
    margin-bottom: 30px; /* Увеличен отступ снизу */
}

.rent-button {
    font-size: 20px; 
    padding: 14px 36px;
    border: none;
    border-radius: 26px;
    background-color: #b0d9ed;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Отступ сверху для кнопки */
}

.rent-button:hover {
    background-color: #9ac4d6;
}

/* Адаптив под мобильные устройства */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .subtext {
        font-size: 18px; 
    }

    .features {
        font-size: 14px; 
    }

    .rent-button {
        font-size: 16px; 
    }

    .container {
        padding: 20px; 
    }
}
